<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <DB_CONNECTION_STRING>Host=localhost;Database=device_infrastructure_test;Username=admin;Password=admin123</DB_CONNECTION_STRING>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>